@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* @link https://utopia.fyi/type/calculator?c=375,16,1.2,1440,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -1: 13.3333px → 16px */
  --step--1: clamp(0.8333rem, 0.7746rem + 0.2504vi, 1rem);
  /* Step 1: 19.2px → 25px */
  --step-1: clamp(1.2rem, 1.0724rem + 0.5446vi, 1.5625rem);
}

/* @link https://utopia.fyi/space/calculator?c=375,16,1.2,1440,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Space 2xs: 8px → 10px */
  --space-2xs: clamp(0.5rem, 0.456rem + 0.1878vi, 0.625rem);
  /* Space m: 24px → 30px */
  --space-m: clamp(1.5rem, 1.368rem + 0.5634vi, 1.875rem);

  /* One-up pairs */
  /* Space m-l: 24px → 40px */
  --space-m-l: clamp(1.5rem, 1.1479rem + 1.5023vi, 2.5rem);
}

:root {
  --font-family: 'Figtree', sans-serif;
  --font-weight-bold: 800;

  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 50%);
  --color-black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: var(--step--1);
  background-color: var(--color-yellow);
  line-height: 1.6;
  display: grid;
  place-items: center;
  height: 100vh;
  padding: var(--space-m-l);
}

.article-container {
  border: 1.5px solid var(--color-black);
  background-color: var(--color-white);
  box-shadow: var(--space-2xs) var(--space-2xs) 0 var(--color-black);
  border-radius: 1.5rem;
  padding: var(--space-m);
  margin-inline: auto;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.article-image-container img {
  width: 100%;
  border-radius: 1rem;
}

.article-category {
  width: fit-content;
  font-weight: var(--font-weight-bold);
  border-radius: 0.25rem;
  padding: 0.5em 1em;
  background-color: var(--color-yellow);
}

.article-publish-date {
  color: var(--color-black);
}

.article-title {
  font-size: var(--step-1);
  font-weight: var(--font-weight-bold);
}

.article-title:hover {
  color: var(--color-yellow);
  cursor: url(./assets/images/pointer.svg), auto;
}

.article-description {
  color: var(--color-grey);
}

.article-footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.author-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.author-name {
  font-weight: var(--font-weight-bold);
}
